# Notebook for Python for Data Journalists class

Hello world!

In [ ]:
import pandas as pd

In [127]:
props = pd.read_csv("http://www.firstpythonnotebook.org/_static/committees.csv")

In [128]:
props.head(1)

,ocd_prop_id,calaccess_prop_id,ccdc_prop_id,prop_name,ccdc_committee_id,calaccess_committee_id,committee_name,committee_position
0,ocd-contest/b51dc64d-3562-4913-a190-69f5088c22a6,1376258,70,PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...,382,1374469,YES ON PROPOSITION 51 - CALIFORNIANS FOR QUALI...,SUPPORT

In [129]:
props.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102 entries, 0 to 101
Data columns (total 8 columns):
ocd_prop_id               102 non-null object
calaccess_prop_id         102 non-null int64
ccdc_prop_id              102 non-null int64
prop_name                 102 non-null object
ccdc_committee_id         102 non-null int64
calaccess_committee_id    102 non-null int64
committee_name            102 non-null object
committee_position        102 non-null object
dtypes: int64(4), object(4)

In [130]:
contribs = pd.read_csv("http://www.firstpythonnotebook.org/_static/contributions.csv")

In [131]:
contribs.head()

,calaccess_committee_id,committee_name,calaccess_filing_id,date_received,contributor_lastname,contributor_firstname,contributor_city,contributor_state,contributor_zip,contributor_employer,contributor_occupation,contributor_is_self_employed,amount
0,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2083796,2016-09-18,BERGMAN,GRETCHEN,SPRING VALLEY,CA,91978,A NEW PATH,EXECUTIVE DIRECTOR,False,84
1,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2083796,2016-09-18,KAHLE,MYRNA,SAN DIEGO,CA,92109,NATIONAL SCHOOL DISTRICT,TEACHER,False,35
2,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2083796,2016-07-15,MCDEVITT,LEO,ESCONDIDO,CA,92025,LIFE IONIZERS,SEO/CONTENT MANAGER,False,198
3,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2083796,2016-08-10,WARREN-SAMARIPA,STEPHANIE,SAN DIEGO,CA,92116,STEPHANIE WARREN SAMARIPA,ENTREPRENEUR,False,-50
4,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2083796,2016-07-26,WARREN-SAMARIPA,STEPHANIE,SAN DIEGO,CA,92116,STEPHANIE WARREN SAMARIPA,ENTREPRENEUR,True,50

In [132]:
contribs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56379 entries, 0 to 56378
Data columns (total 13 columns):
calaccess_committee_id          56379 non-null int64
committee_name                  56379 non-null object
calaccess_filing_id             56379 non-null int64
date_received                   56379 non-null object
contributor_lastname            56375 non-null object
contributor_firstname           53411 non-null object
contributor_city                56369 non-null object
contributor_state               56363 non-null object
contributor_zip                 56366 non-null object
contributor_employer            48572 non-null object
contributor_occupation          53273 non-null object
contributor_is_self_employed    56379 non-null bool
amount                          56379 non-null float64
dtypes: bool(1), float64(1), int64(2), object(9)

# Lists the names of all propositions
There were 17 propositions

In [135]:
props.prop_name.value_counts().reset_index()

                                                index   0
0   PROPOSITION 057 - CRIMINAL SENTENCES. JUVENILE...  13
1   PROPOSITION 056 - CIGARETTE TAX TO FUND HEALTH...  12
2   PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...  11
3   PROPOSITION 066- DEATH PENALTY. PROCEDURES. IN...   9
4   PROPOSITION 055 - TAX EXTENSION TO FUND EDUCAT...   8
5   PROPOSITION 067- REFERENDUM TO OVERTURN BAN ON...   7
6   PROPOSITION 062- DEATH PENALTY. INITIATIVE STA...   7
7   PROPOSITION 059- SB 254 (CHAPTER 20, STATUTES ...   6
8   PROPOSITION 053 - REVENUE BONDS. STATEWIDE VOT...   4
9   PROPOSITION 054 - LEGISLATURE. LEGISLATION AND...   4
10  PROPOSITION 058 - SB 1174 (CHAPTER 753, STATUT...   4
11  PROPOSITION 063- FIREARMS. AMMUNITION SALES. I...   4
12  PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...   4
13  PROPOSITION 052 - STATE FEES ON HOSPITALS. FED...   3
14  PROPOSITION 061- STATE PRESCRIPTION DRUG PURCH...   3
15  PROPOSITION 060- ADULT FILMS. CONDOMS. HEALTH ...   2
16  PROPOSITION 065- CARRY-OUT BAGS. CHARGES. INIT...   1

In [136]:
prop = props[props.prop_name == 'PROPOSITION 064- MARIJUANA LEGALIZATION. INITIATIVE STATUTE.']

In [137]:
prop.head()

,ocd_prop_id,calaccess_prop_id,ccdc_prop_id,prop_name,ccdc_committee_id,calaccess_committee_id,committee_name,committee_position
74,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,456,1381808,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",SUPPORT
75,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,457,1382525,NEW APPROACH PAC (MPO),SUPPORT
76,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,458,1376077,"CALIFORNIANS FOR SENSIBLE REFORM, SPONSORED BY...",SUPPORT
77,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,459,1382568,"PUBLIC AND MENTAL HEALTH ADVOCATES AGAINST 64,...",OPPOSE
78,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,460,1371855,"MARIJUANA POLICY PROJECT OF CALIFORNIA, YES ON 64",SUPPORT

In [138]:
prop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11 entries, 74 to 84
Data columns (total 8 columns):
ocd_prop_id               11 non-null object
calaccess_prop_id         11 non-null int64
ccdc_prop_id              11 non-null int64
prop_name                 11 non-null object
ccdc_committee_id         11 non-null int64
calaccess_committee_id    11 non-null int64
committee_name            11 non-null object
committee_position        11 non-null object
dtypes: int64(4), object(4)

In [139]:
contribs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56379 entries, 0 to 56378
Data columns (total 13 columns):
calaccess_committee_id          56379 non-null int64
committee_name                  56379 non-null object
calaccess_filing_id             56379 non-null int64
date_received                   56379 non-null object
contributor_lastname            56375 non-null object
contributor_firstname           53411 non-null object
contributor_city                56369 non-null object
contributor_state               56363 non-null object
contributor_zip                 56366 non-null object
contributor_employer            48572 non-null object
contributor_occupation          53273 non-null object
contributor_is_self_employed    56379 non-null bool
amount                          56379 non-null float64
dtypes: bool(1), float64(1), int64(2), object(9)

In [140]:
merged = pd.merge(prop, contribs, on="calaccess_committee_id")

In [141]:
merged.head()

,ocd_prop_id,calaccess_prop_id,ccdc_prop_id,prop_name,ccdc_committee_id,calaccess_committee_id,committee_name_x,committee_position,committee_name_y,calaccess_filing_id,date_received,contributor_lastname,contributor_firstname,contributor_city,contributor_state,contributor_zip,contributor_employer,contributor_occupation,contributor_is_self_employed,amount
0,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,456,1381808,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",SUPPORT,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",2038581,2016-02-04,BRADEN QUIGLEY,LAURA,SACRAMENTO,CA,95825,LBQ STRATEGIES,CONSULTANT,False,100
1,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,456,1381808,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",SUPPORT,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",2038581,2016-01-05,"CALIFORNIANS FOR SENSIBLE REFORM, SPONSORED BY...",NaN,IRVINE,CA,92618,NaN,NaN,False,250000
2,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,456,1381808,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",SUPPORT,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",2038581,2016-01-29,"CALIFORNIANS FOR SENSIBLE REFORM, SPONSORED BY...",NaN,IRVINE,CA,92618,NaN,NaN,False,250000
3,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,456,1381808,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",SUPPORT,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",2038581,2016-03-28,"CALIFORNIANS FOR SENSIBLE REFORM, SPONSORED BY...",NaN,IRVINE,CA,92618,NaN,NaN,False,250000
4,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,456,1381808,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",SUPPORT,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",2038581,2016-01-05,DRUG POLICY ACTION,NaN,NEW YORK,NY,10001,NaN,NaN,False,250000

In [142]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 860 entries, 0 to 859
Data columns (total 20 columns):
ocd_prop_id                     860 non-null object
calaccess_prop_id               860 non-null int64
ccdc_prop_id                    860 non-null int64
prop_name                       860 non-null object
ccdc_committee_id               860 non-null int64
calaccess_committee_id          860 non-null int64
committee_name_x                860 non-null object
committee_position              860 non-null object
committee_name_y                860 non-null object
calaccess_filing_id             860 non-null int64
date_received                   860 non-null object
contributor_lastname            860 non-null object
contributor_firstname           750 non-null object
contributor_city                860 non-null object
contributor_state               860 non-null object
contributor_zip                 860 non-null object
contributor_employer            657 non-null object
contributor_occupation          742 non-null object
contributor_is_self_employed    860 non-null bool
amount                          860 non-null float64
dtypes: bool(1), float64(1), int64(5), object(13)

In [143]:
merged.amount

0        100
1     250000
2     250000
3     250000
4     250000
5     250000
6        100
7        100
8        100
9     250000
10    250000
11    250000
12    250000
13    250000
14      1000
...
845    1000000.00
846    1970000.00
847      30000.00
848     550000.00
849     420000.00
850    1000000.00
851    1970000.00
852    1403000.00
853     500000.00
854     200000.00
855      97000.00
856       4185.00
857        817.00
858        408.64
859        871.00
Name: amount, Length: 860, dtype: float64

In [144]:
merged.amount.sum()

35177017.640000001

In [145]:
merged.committee_position.value_counts()

SUPPORT    762
OPPOSE      98
dtype: int64

In [146]:
support = merged[merged.committee_position == 'SUPPORT']

In [147]:
oppose = merged[merged.committee_position == 'OPPOSE']

In [148]:
oppose.amount.sum()

2501211.6400000001

In [149]:
support.amount.sum()

32675806.0

In [150]:
support.amount.sum() / merged.amount.sum()

0.92889642704798669

In [151]:
merged.sort_values("amount")

AttributeError: 'DataFrame' object has no attribute 'sort_values'

In [152]:
merged.sort_values("amount", ascending=False).head()

AttributeError: 'DataFrame' object has no attribute 'sort_values'

In [153]:
support.sort_values("amount", ascending=False).head()

AttributeError: 'DataFrame' object has no attribute 'sort_values'

In [154]:
oppose.sort_values("amount", ascending=False).head()

AttributeError: 'DataFrame' object has no attribute 'sort_values'

In [155]:
merged.groupby("committee_name_x").amount.sum()

committee_name_x
ADULT USE CAMPAIGN FOR PROPOSITION 64; THE                         17089.00
CALIFORNIANS FOR RESPONSIBLE MARIJUANA REFORM, SPONSORED BY DRUG POLICY ACTION, YES ON PROP. 64      860470.00
CALIFORNIANS FOR SENSIBLE REFORM, SPONSORED BY GHOST MANAGEMENT GROUP, LLC DBA WEEDMAPS      850000.00
DRUG POLICY ACTION - NON PROFIT 501C4, YES ON PROP. 64           4470000.00
FUND FOR POLICY REFORM (NONPROFIT 501(C)(4))                     6140000.00
MARIJUANA POLICY PROJECT OF CALIFORNIA, YES ON 64                 739200.00
MOMS STRONG AGAINST PROP 64                                         6281.64
NEW APPROACH PAC (MPO)                                           3865000.00
PUBLIC AND MENTAL HEALTH ADVOCATES AGAINST 64, SPONSORED AND MAJOR FUNDING BY SAM ACTION, INC. AND CALIFORNIA PUBLIC SAFETY INSTITUTE     1130930.00
SAM ACTION, INC., A COMMITTEE AGAINST PROPOSITION 64 WITH HELP FROM CITIZENS (NONPROFIT 501 (C)(4))     1364000.00
YES ON 64, CALIFORNIANS TO CONTROL, REGULATE AND TAX ADULT USE OF MARIJUANA WHILE PROTECTING CHILDREN, SPONSORED BY BUSINESS, PHYSICIANS, ENVIRONMENTAL AND SOCIAL-JUSTICE ADVOCATE ORGANIZATIONS    15734047.00
Name: amount, dtype: float64

In [156]:
merged.groupby("committee_name_x").amount.sum().reset_index()

                                     committee_name_x       amount
0          ADULT USE CAMPAIGN FOR PROPOSITION 64; THE     17089.00
1   CALIFORNIANS FOR RESPONSIBLE MARIJUANA REFORM,...    860470.00
2   CALIFORNIANS FOR SENSIBLE REFORM, SPONSORED BY...    850000.00
3   DRUG POLICY ACTION - NON PROFIT 501C4, YES ON ...   4470000.00
4        FUND FOR POLICY REFORM (NONPROFIT 501(C)(4))   6140000.00
5   MARIJUANA POLICY PROJECT OF CALIFORNIA, YES ON 64    739200.00
6                         MOMS STRONG AGAINST PROP 64      6281.64
7                              NEW APPROACH PAC (MPO)   3865000.00
8   PUBLIC AND MENTAL HEALTH ADVOCATES AGAINST 64,...   1130930.00
9   SAM ACTION, INC., A COMMITTEE AGAINST PROPOSIT...   1364000.00
10  YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...  15734047.00

In [159]:
merged.groupby("committee_name_x").amount.sum().reset_index()

                                     committee_name_x       amount
0          ADULT USE CAMPAIGN FOR PROPOSITION 64; THE     17089.00
1   CALIFORNIANS FOR RESPONSIBLE MARIJUANA REFORM,...    860470.00
2   CALIFORNIANS FOR SENSIBLE REFORM, SPONSORED BY...    850000.00
3   DRUG POLICY ACTION - NON PROFIT 501C4, YES ON ...   4470000.00
4        FUND FOR POLICY REFORM (NONPROFIT 501(C)(4))   6140000.00
5   MARIJUANA POLICY PROJECT OF CALIFORNIA, YES ON 64    739200.00
6                         MOMS STRONG AGAINST PROP 64      6281.64
7                              NEW APPROACH PAC (MPO)   3865000.00
8   PUBLIC AND MENTAL HEALTH ADVOCATES AGAINST 64,...   1130930.00
9   SAM ACTION, INC., A COMMITTEE AGAINST PROPOSIT...   1364000.00
10  YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...  15734047.00

In [160]:
merged.groupby(["contributor_firstname", "contributor_lastname"]).amount.sum().reset_index()

    contributor_firstname contributor_lastname  amount
0                   AARON               JUSTIS     250
1                   ABDUL                AHMED     200
2                    ADAM                ELLIS     100
3                    ADAM                ORENS     100
4                    ADAM            STEINBERG    1350
5                    ALAN             CRAWFORD     100
6                    ALAN                MOORE     100
7                    ALAN             SAUNDERS     100
8                    ALAN               SPARER     250
9                    ALEC                DIXON     100
10                   ALEX               COOLEY     100
11                   ALEX             HALPERIN     100
12              ALEXANDER              BRAMMER     250
13                 ALISON                ETTEL     100
14                 AMANDA               CONLEY     100
15                 AMANDA                LEWIS     100
16             AMIRGHASEM      SAMIMI-ARDESTAN       0
17                    AMY             MARGOLIS     200
18                    AMY             POINSETT     250
19                 ANDREA               FULTON     100
20                 ANDREW               GRZYWA     500
21                 ANDREW                LOGAN     500
22                 ANDREW               SCHWAB     500
23                 ANGELA               HOWARD   65000
24                   ANNA           GANDELMANN     100
25                ANNETTE                CAYOT     200
26                ANTHONY            BOCANEGRA     300
27                  ANTON              ALBRAND    1100
28                 ASHLEE             MARGOLIS    1000
29             BARBARA S.               LEICHT     100
..                    ...                  ...     ...
519             THOMAS J.               REIMAN    2500
520                   TIM               ROEGGE     200
521               TIMOTHY                 HAND     100
522                  TODD            WALTEMADE     100
523                  TODD               WINTER     100
524                  TONY               KARIAN     500
525                 TRACY              WEISMAN     500
526             TRAVIS W.              TRAWICK    1000
527                  TROY              PARROTT     100
528                VICKIE           CARDELLINI     100
529             VICTOR J.                LEWIS     100
530               VINCENT            D'ACCOLTI     100
531                VITALY                 MEKK     100
532                WALTER              LAMBETH     100
533                 WAYNE              SCHERER      30
534                 WENDY               COLTON      50
535   WHITNEY ANNE MINSON               YAROSH    1000
536                  WILL             RISSEEUW     200
537               WILLIAM               MADDEN     100
538               WILLIAM               MCPIKE     100
539               WILLIAM             PLETCHER     100
540               WILLIAM             SANTSCHI      25
541               WILLIAM              WINTERS     200
542            WILLIAM F.             HARRISON     400
543            WILLIAM H.              WELLMAN     650
544                WILSON               MURRAY     100
545              XIANGANG                  SHI     100
546                YVETTE                SMITH     200
547                  ZACH            MARVURGER     300
548           ZACHARY PYM             WILLIAMS   10000

[549 rows x 3 columns]